# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
Admin/node_modules
user/node_modules
server/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc

user/.DS_Store
Admin/.DS_Store
Admin/.env.local
user/.env.local
Admin/.env.development.local
user/.env.development.local
Admin/.env.test.local
user/.env.test.local
Admin/.env.production.local
user/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
package.json
package-lock.json
.eslintcache
debug.log